.modalContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
}

.subTitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

