
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'boxicons/css/boxicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  user-select: none;      /* Bloquea selección de texto */
  -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
  -moz-user-select: none;    /* Para Firefox */
  -ms-user-select: none;     /* Para IE/Edge antiguos */
  -webkit-tap-highlight-color: transparent;
}
/* Scrollbar personalizado para pantallas grandes */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--senary-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--quaternary-color);
  border-radius: 2px;
  min-height: 10px;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background: var(--tertiary-color);
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--quaternary-color);
}

body, html {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #2dbea1;
  --primary-color-light: #31ceaf15;
  --primary-color-dark: #29a990;

  --error-color: #ff4c4c;
  --success-color: rgb(92, 189, 70);
  --warning-color: #FB8713;
  --info-color: #468cfd;
}

/* Tema claro */
[data-theme="light"] {
  --secondary-color: #3c3c3c;
  --tertiary-color: #888888;
  --quaternary-color: #c9c9c9;
  --quinary-color: #dadada;
  --senary-color: #f7f7f7;

  --dark-color: #000000;
  --white-color: #ffffff;
}

/* Tema oscuro (por defecto) */
[data-theme="dark"] {
  --secondary-color: #171717;
  --tertiary-color: #272626;
  --quaternary-color: #343434;

  --dark-color: #000000;
  --white-color: #ffffff;
}