
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'boxicons/css/boxicons.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;

  font-family: 'Poppins', sans-serif;
  user-select: none;      /* Bloquea selección de texto */
  -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
  -moz-user-select: none;    /* Para Firefox */
  -ms-user-select: none;     /* Para IE/Edge antiguos */
  -webkit-tap-highlight-color: transparent;
}
/* Scrollbar personalizado para pantallas grandes */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--tertiary-color);
}

*::-webkit-scrollbar-thumb {
  background: var(--quinary-color);
  border-radius: 2px;
}

body, html {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #28b498;

  --error-color: #ff4c4c;
  --success-color: rgb(70, 242, 70);
  --warning-color: #FB8713;
  --info-color: #468cfd;
}

/* Tema claro */
[data-theme="light"] {
  --secondary-color: #f2f2f2;
  --tertiary-color: #ffffff;
  --quaternary-color: #f0f0f0;
  --quinary-color: #cdcdcd;

  --dark-color: #ffffff;
  --white-color: #212121;
}

/* Tema oscuro (por defecto) */
[data-theme="dark"] {
  --secondary-color: #171717;
  --tertiary-color: #242424;
  --quaternary-color: #343434;
  --quinary-color: #4d4d4d;;
  --senary-color: #8f8f8f;

  --dark-color: #000000;
  --white-color: #ffffff;
}









