.container   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 50px);
    padding: 15px;
    gap: 15px;
    overflow-y: auto !important;

    .title {
        font-size: 25px;
        font-weight: 600;
    }
    .subTitle {
        font-size: 13px;
        font-weight: 400;
        color: gray;
    }
    z-index: 9999999;
    border: 1px solid red;
}
.opciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 20px;
    gap: 25px;
}