.dashboardContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contentArea {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 60px;
  overflow: auto;
  background-color: white;
  padding: 0px 25px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentArea::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary-color);
  padding: 10px 0px;
  padding-top: 10px;
  text-transform: uppercase;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 25px;
}

@media (max-width: 1024px) {
  .itemsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contentArea {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .itemsGrid {
    grid-template-columns: 1fr;
  }
}