.exito {
    background-color: rgba(0, 255, 0, 0.145);
    width: 100%;
    border-radius: 15px;
    color: var(--success-color);
    font-size: 11px;
    display: flex;
    font-weight: 400;
    gap: 5px;
    overflow: hidden;
    height: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;

    .icon {
        font-size: 17px !important;
    }
}