.iconContainer{
    display: flex;
    min-width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.icon{
    background: none;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 20px;
}