.versionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: gray;
    margin-top: 10px;
}