.dato {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    transition: all 0.2s ease;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--quaternary-color);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--surface-hover-color);
}
.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}
.icon {
    font-size: 20px !important;
    color: var(--primary-color) !important;
    margin-left: auto;
}

.label {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.value {
    font-size: 15px;
    font-weight: 500;
    color: var(--white-color);
    max-width: fit-content;
}

.original {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.green {
    background-color: var(--success-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.red {
    color: var(--error-color);
    font-weight: 600;
    background-color: var(--error-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.orange {
    background-color: var(--warning-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.blue {
    background-color: var(--info-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.gray {
    background-color: var(--quinary-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}