.info {
    min-width: 20px !important;
    max-height: 20px;
    border-radius: 50%;
    background: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: 20px !important;
        color: var(--primary-color) !important;
    }

    .iconOrange {
        color: #ff9800 !important;
    }
}
.icon{
    position: relative;
}
.text{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: var(--tertiary-color) !important;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    gap: 5px;
    display: flex;
    flex-direction: column;

    p{
        font-size: 13px;
        font-weight: 400;
        white-space: pre-line;
    }

    .title{
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
    }
}
