/* Contenedor principal */
.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    backdrop-filter: blur(10px);
}

/* Spinner principal */
.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Spinner que gira */
.spinnerRing {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 7px solid var(--quaternary-color);
    border-top: 7px solid var(--primary-color);
    border-radius: 50%;
}

/* Círculo central */
.centerCircle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #28b498;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Icono del centro */
.centerIcon {
    color: white;
    font-size: 15px !important;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 19px !important;
    padding: 0;
}
.centerIcon svg {
    width: 100%;
    height: 100%;
    font-size: 15px !important;
}


/* Icono por defecto */
.defaultIcon {
    display: flex;
    align-items: end;
    gap: 2px;
    height: 20px;
}
/* Texto de carga */
.loadingText {
    margin: 0;
    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 500;
}