.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* por encima de todo */
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.overlayVisible {
  background: rgba(0, 0, 0, 0.5);
  transform: scale(1);
  opacity: 1;
}

.modal {
  background: var(--tertiary-color);
  color: var(--white-color);
  border-radius: 12px;
  width: min(1100px, calc(100% - 200px));
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 18px 50px rgba(0,0,0,0.5);
  overflow: hidden;
}

.contentWrapper {
  padding: 12px 16px 16px 16px;
}

.tableScroll {
  overflow: auto;
  max-height: calc(90vh - 96px);
  border-radius: 10px;
  min-height: 200px;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  color: var(--white-color);
  background: var(--tertiary-color);
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--quaternary-color);
  color: var(--white-color);
  text-align: left;
  padding: 5px 14px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 14px;
}

.filterHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}


.table tbody td {
  padding: 14px 14px;
  border-bottom: 1px solid var(--quinary-color);
  font-size: 13px;
  font-weight: 400;
  color:gray;
}

.table tbody tr:hover {
  background: rgba(255,255,255,0.06);
}

.emptyCell {
  text-align: center;
  color: var(--senary-color);
  padding: 24px 12px;
}

/* Badges dentro de celdas */
.cellBadge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  min-width: 60px;
  white-space: nowrap;
}

.cellBadge.info { /* igual */
  color: var(--info-color);
  background-color: #1f74fe3a;
}
.cellBadge.success { /* más físico que sistema */
  background: rgba(22, 163, 74, 0.2);
  color: #16a34a;
}
.cellBadge.error { /* menos físico que sistema */
  color: var(--error-color);
  background-color: #e74c3c3a;
}


