.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title {
    font-size: 13px;
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 5px;
}

.optionsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid gray;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    white-space: nowrap;
}
.selected {
    background-color:#28b49816;
    color: var(--primary-color);
    border-color: #28b49816;
}

