.container   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;
    position: relative;

    .title {
        font-size: 25px;
        font-weight: 600;
    }
    .subTitle {
        font-size: 13px;
        font-weight: 400;
        color: gray;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        background-color: none;
        border-radius: 10px;
        gap:8px;
        overflow-y: auto !important;
        height: calc(100vh - 250px);
    }

    .noData {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 40px 20px;
        color: gray;
        font-size: 16px;
    }
}
.buttonFooter {
    width: 100%;
    display: flex;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 10px;
    left: 0;
}