.modalContent{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .subTitle {
        font-size: 13px;
        font-weight: 400;
        color: gray;
        line-height: 1.2;
    }
}