.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;
    overflow-y: auto;

    .title {
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .iconButton {
            border: none;
            background: none;
            display: flex;
            gap: 10px;

            .icon {
                color: var(--primary-color) !important;
                cursor: pointer;
            }
            .iconTrash {
                color: var(--error-color) !important;
                cursor: pointer;
            }

        }
    }

    .subTitle {
        font-size: 13px;
        font-weight: 400;
        color: gray;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        background-color: var(--tertiary-color);
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
    }

    .contentPermisos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        background-color: var(--tertiary-color);
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
    }
}




.modalContent{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .subTitle {
        font-size: 13px;
        font-weight: 400;
        color: gray;
        line-height: 1.2;
    }
}

.modalContentButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}
