.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--secondary-color);
}

.userSelectContainer {
    display: flex;
    align-items: center;
    min-width: 220px;
}

@media (min-width: 1024px) {
    .userSelectContainer {
        padding-top: 17px;
    }
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;
    gap: 10px;
}
.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 20px !important;
    border-radius: 50%;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--white-color);
}

.navTitle {
    font-size: 20px;
    font-weight: 700;
    color: var(--white-color);
    display: flex;
    align-items: center;

    .navTitleSpan {
        color: var(--primary-color);
        font-weight: 700;
    }
}

.sucursalBadge {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-color);
    padding: 10px 15px;
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(40, 180, 152, 0.1);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.iconOne {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
}





.subTitle {
    font-size: 13px;
    font-weight: 400;
    color: gray;
    line-height: 1.2;
}
.modalContent {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    height: 100%;
    max-height: 83vh;
    overflow-y: auto;
}
.buttons {
    display: flex;
    gap: 7px;
    width: 100%;
    margin-top: auto;
}

.selectContainer {
    width: 100%;
}
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 250px;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    padding: 0 15px;
    gap: 10px;
    max-width: 350px;
}
