.screen {
    height: calc(100% - 80px);
    width: 100%;
    background-color: var(--background-color);
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    text-align: left;
    padding: 10px 0;
}
