.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    backdrop-filter: blur(0px);
    transition: all 0.3s ease;
}

.overlayVisible {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modalContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1001;
    max-height: 100vh;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modalVisible {
    transform: translateY(0);
}
